/* Fonts
font-family: 'Libre Baskerville', serif; h1
font-family: 'Open Sans', sans-serif; p
font-family: 'Oswald', sans-serif; h3*/

h1 {
  color: whitesmoke;
  display: flex;
  font-family: 'Merriweather', serif; 
  font-size: 6rem;
  letter-spacing: 0.3rem;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
}

p {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}

/* Landing Page */

.home {
  margin: 0;
  background-image: url(Images/home-backgroung.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.lionel {
  margin: 0;
  padding-top: 5.5%;
  padding-left: 10rem;
  font-size: 8rem;
  animation-duration: 2s;
  animation-delay: 1.2s;
}

.messi {
  margin: 0;
  padding-bottom: 7%;
  padding-left: 10rem;
}

.quotes {
  margin: 0;
  padding-left: 5rem;
  font-size: 1.5rem;
  width: 38%;
  line-height: 2;
  text-align: center;
}

.by {
  text-align: right;
  padding-top: 3.5%;
  padding-bottom: 15%;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
  display: inline;
}

/* Timeline */

.timeline-container {
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-align: center;
  font-size: 5rem;
  background-image: url(Images/camp-nou.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

  /* padding: 2.5rem 0;
  text-align: center;
  font-size: 4rem;
  background-color: black; */
}

.container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0;
  /* Copy For Image */
  background-image: url(Images/messi-timeline.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 1.25rem;
  background-color: #1e1f22;
  color: whitesmoke;
  border-radius: 1.25rem;
  margin-bottom: 1.25rem;
}

.timeline-content h1 {
  font-size: 1.5625;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 0.625rem;
}

.timeline-content p {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 300;
  color: lightgray;
}

.timeline-content .date {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.625rem;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline::before {
    content: "";
    height: 100%;
    width: 0.125rem;
    position: absolute;
    background-color: #393e46;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 3.125rem;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-5.65rem);
    border-radius: 1.25rem 0 1.25rem 1.25rem;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(3.15rem);
    border-radius: 0 1.25rem 1.25rem 1.25rem;
  }
  .timeline ul li::after {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 0;
    border-radius: 50%;
    background-color: #393e46;
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -1.875rem;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -1.875rem;
  }
  .timeline ul li:hover:nth-child(odd)::after {
    background-color: #db002c;
    transition: ease-in-out;
    transition-duration: 0.25s;
  }
  .timeline ul li:hover:nth-child(even)::after {
    background-color: #004c99;
    transition: ease-in-out;
    transition-duration: 0.25s;
  }
  .timeline ul li:hover:nth-child(odd) {
    transition: ease-in-out;
    transition-duration: 0.25s;
    background-color: #db002c;
  }
  .timeline ul li:hover:nth-child(even) {
    background-color: #004c99;
    transition: ease-in-out;
    transition-duration: 0.25s;
  }
  .timeline-content .date {
    position: absolute;
    top: -60px;
  }
}

/* Stats Page */
.stats-container {
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-align: center;
  font-size: 5rem;
  background-image: url(Images/messi-stat.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

   /* padding: 2.5rem 0;
  text-align: center;
  font-size: 4rem;
  background-color: black; */
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
#quote {
  font-size: 10pt;
  color: #848484;
  letter-spacing: 0px;
}

.number {
  width: 20%;
  font-size: 40pt;
  position: relative;
  float: left;
  text-align: right;
  overflow: hidden;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.type {
  font-family: "Roboto", sans-serif;
  font-size: 5pt;
  padding-top: 19px;
  width: 46%;
  float: left;
  position: relative;
  text-align: left;
  overflow: hidden;
  font-size: 20pt;
}
.details {
  font-size: 10pt;
  font-style: italic;
}

.statbox {
  height: 150px;
  text-align: center;
  color: #ecf0f1;
  font-size: 30pt;
  font-family: "Montserrat", sans-serif;
  background-image: url(Images/lionel-messi-black.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.statbox:first-child{
  padding-top: 10rem;
}

#stats-page {
  height: 500px;
}

/* Achievements */
.achieve-container {
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-align: center;
  font-size: 5rem;
  background-image: url(Images/messi-ballon.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

   /* padding: 2.5rem 0;
  text-align: center;
  font-size: 4rem;
  background-color: black; */
}

.achieve-container h3{
  color: goldenrod;
}

ul{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.achieve{
 background-color: black;
}

.achieve ul{
  padding: 2rem 18rem;
  text-align: center;
  justify-content: center;
}

.achieve ul li{
  padding: 1.25rem;
  background: transparent;
  width: 95%;
  border-radius: 1.25rem;
  color: whitesmoke;
  margin-bottom: 1.25rem;
  height: 10%;
  list-style: none;
  overflow: hidden;
  text-align: left;
  display: block;
  font-weight:400;
  text-align: center;
}


.achieve ul li:hover{
  background-color: whitesmoke;
  color: black;
  border-radius: 1.25rem;
  width: 95%;
  height: 10%;
  transform: scale(1.03);
  transition: ease-in;
  transition-duration: 0.3s;
  text-align: center;
  font-weight: 500;
}

/* Text Rotator */
.text-container{
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-align: left;
  background-image: url(Images/messi-text.jpeg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.text{
  padding-left: 3rem;
  font-weight: 400;
  font-size: 2.5rem;
}

.text span::before{
  content: '';
  animation: animate infinite 10s;
}

@keyframes animate{
  0%{
    content: 'The Goal-Scorer';
  }
  20%{
    content: 'The Play-Maker';
  }
  40%{
    content: 'The G.O.A.T.';
  }
  60%{
    content: 'The Myth';
  }
  80%{
    content: 'The Best In The World.';
  }
  100%{
    content: 'The Goal-Scorer';
  }
}